<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/index.css}"/>
    </head>
    <body>
<a th:href="@{/index}"><h1><span class="blue">&lt;</span>Social<span class="blue">&gt;</span> <span class="yellow">NETWORK</span></h1></a>

<a href="#" onclick="history.go(-1)" class="button darkGrey">Go Back</a>
<h1>FRIENDS OF FRIEND</h1>
<div>
				<table class="container">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Surname</th>
                                                        <th>Age</th>
							<th>Gender</th>
			
						</tr>
					</thead>
					<tbody>
						<tr th:each="friendsOfFriend :${friendsOfFriends}">
							<td th:text="${friendsOfFriend.firstName}"></td>
                                                        <td th:text="${friendsOfFriend.surname}"></td>
							<td th:text="${friendsOfFriend.age}"></td>
                                                        <td th:text="${friendsOfFriend.gender}"></td>
						</tr>
					</tbody>

				</table>
			</div>
    </body>
</html>
