<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
     <body>
        <div>
		<div>
			<div>
				<table>
                                    <h1>FRIENDS</h1>
					<thead>
						<tr>
							<th>First Name</th>
							<th>Surname</th>
                                                        <th>Age</th>
							<th>Gender</th>
			
						</tr>
					</thead>
					<tbody>
						<tr th:each="usersFriend :${usersFriends}">
                                                        <td th:text="${usersFriend.firstName}"></td>
                                                        <td th:text="${usersFriend.surname}"></td>
                                                        <td th:text="${usersFriend.age}"></td>
                                                        <td th:text="${usersFriend.gender}"></td>
                                                        <td><a  th:href="@{/users/friendsOfFriends(id=${usersFriend.id})}">SEE FRIENDS</a></td>
						</tr>
					</tbody>

				</table>
			</div>
                    <div>
				<table>
					<thead>
						<tr>
							<th>SUGGESTED FRIENDS</th>
			
						</tr>
					</thead>
					<tbody>
						<tr>
                                                    <td><a  th:href="@{/users/suggestedFriends(id=${id})}">SEE SUGGESTED</a></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
</div>
    </body>
</html>
