<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Social Network</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/index.css}"/>
    </head>
    <body>
        <h1><span class="blue">&lt;</span>Social<span class="blue">&gt;</span> <span class="yellow">NETWORK</span></h1>
        <div>
		<div>
			<div>
				<table class="container">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Surname</th>
                                                        <th>Age</th>
							<th>Gender</th>
                                                        <th>Friends</th>
			
						</tr>
					</thead>
					<tbody>
						<tr th:each="users :${listusers}">
							<td th:text="${users.firstName}"></td>
                                                        <td th:text="${users.surname}"></td>
							<td th:text="${users.age}"></td>
                                                        <td th:text="${users.gender}"></td>
                                              
                                                       <td><a  th:href="@{/users/friends(id=${users.id})}">SEE FRIENDS</a></td>
						
						</tr>
					</tbody>

				</table>
			</div>
		</div>
</div>
    </body>
</html>
